.theFooter {
    background-color: black;
    color: lightgrey;
    width: 100vw;
    margin-top: auto;
    border-top: #E46D3A solid 1px;


    p{
        font-weight: 800;
        font-size: 0.7rem;
        letter-spacing: 1px;
        padding: 0.3rem;
    }
 

}